.divfoot{
    width: 20%;
    height: 100vh;
    background-color: rgb(35, 33, 33);
}
.navbar1{
    height: 70px;
}
.navbar1>div{
    width: 95%;
    margin: auto;
}
.inp1{
    width: 85%;
    border: none;
    outline: none;
    background: none;
}
.input1{
    background-color: rgb(206, 206, 206);
    height: 35px;
}
@media screen and (max-width:991px) {
    .navbar2{
        display: none;
    }
    .input1{
        display: none;
    }
}
.i1{
    font-size: 20pt;
}

@media screen and (min-width:991px) {
    .i1{
        display: none;
    }
}
